.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #D05A6E;
    font-size: 20px;
}

p {
    color: #EEA9A9;

}

.box1 {
    width: 150px;
    height: 150px;
    background-color: #FBDA61;
    opacity: 0.7;
}

.box2 {
    width: 150px;
    height: 150px;
    background-color: #FF9A8B;
    position: relative;
    right: 47px;
    bottom: -149px;
    opacity: 0.7;
}

.box3 {
    width: 150px;
    height: 150px;
    background-color: #FF6A88;
    position: relative;
    right: 47px;
    bottom: 0;
    opacity: 0.8;
}

.box4 {
    width: 150px;
    height: 150px;
    background-color: #FF99AC;
    position: relative;
    right: 88px;
    bottom: -149px;
    opacity: 0.7;
}

.boxstyle {
    display: flex;
    border-radius: 30px;
}